<!DOCTYPE html>
<html>
<head><title>Profile|Admin|Online Exam Portal</title>

    <script type="text/javascript" src="/assets/admin/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/admin/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/admin/profile.css">
    <link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">

</head>
<body>

	<ul>
		<li><a class="active" href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/admin/support">Support</a></li>
		<li style="float:right"><a href="/admin/pending_list">Pending List</a></li>
		<li style="float:right"><a href="/admin/profile">Profile</a></li>
		<li style="float:right"><a href="/admin/admin_list">Admin List</a></li>
		<li style="float:right"><a href="/admin/teacher_list">Teacher List</a></li>
		<li style="float:right"><a href="/admin/student_list">Student List</a></li>
    </ul>


     <!------ Include the above in your HEAD tag ---------->

   <div class="container emp-profile">
            <form name="adminyeah" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="<%=A_IMAGE%>" alt="image" title="myPicture" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <%=A_NAME%>
                                    </h5>
                                    <h6>
                                        ADMIN
                                    </h6>
                                    
                            
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Account Settings</p>
                            <a href="/admin/edit_profile">Edit Profile</a><br/>
                            <a href="/admin/edit_picture">Edit Picture</a><br/>
                            <a href="/admin/account">Change Password</a><br/>
                            <!-- <p>Extra</p>
                            <a href="">####</a><br/>
                            <a href="">####</a><br/>
                            <a href="">####</a><br/>
                            <a href="">####</a><br/>
                            <a href="">####</a><br/> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=A_ID%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=A_NAME%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=A_EMAIL%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Mobile No</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=A_MOBILE%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%=A_ADDRESS%></p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
   

  </body>


  </html>
