<!DOCTYPE html>
<html>
<head><title>Support|Admin|Online Exam Portal</title>

	<script type="text/javascript" src="/assets/admin/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="/assets/admin/profile.css"> -->
	<link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">

</head>
<body>

	<ul>
		<li><a class="active" href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/admin/support">Support</a></li>
		<li style="float:right"><a href="/admin/pending_list">Pending List</a></li>
		<li style="float:right"><a href="/admin/profile">Profile</a></li>
		<li style="float:right"><a href="/admin/admin_list">Admin List</a></li>
		<li style="float:right"><a href="/admin/teacher_list">Teacher List</a></li>
		<li style="float:right"><a href="/admin/student_list">Student List</a></li>
	</ul>
	<center>
	<table border="1" width="400px" >
		<tr>
			<th>ID</th>
			<th>Text</th>
			<th>Time</th>
			<th>Seen</th>
		</tr>

		<% for(var i=0; i < uList.length; i++){ %>
		<tr>
			<td><a href="/admin/teacher_list/<%= uList[i].T_ID %>">	<%= uList[i].T_ID %></a></td>
			<td><%= uList[i].S_TEXT %></td>
			<td><%= uList[i].S_TIME %></td>
			<td><a href="/admin/support/seen/<%= uList[i].T_ID %>">Check</a></td>
			<!-- <td><%= uList[i].S_STATUS %></td> -->
		
		</tr>
		<% } %>
	</table>
</center>
</body>
</html>
