<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
</head>
<body>

<h1>Profile</h1> 

	<a href="/teacher">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>

	<table border="0" width="100%" >
		<tr>
			<td >User Name</td>
			<td width="2%">:</td>
			<td><%=T_ID%></td>
			<td rowspan="5">
				<img src="/pictures/nayan.png" alt="tough guy" height="100px" width="100px"/>
			</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>:</td>
			<td><%=T_NAME%></td>
		</tr>
		<tr>
			<td>Email</td>
			<td>:</td>
			<td><%=T_EMAIL%></td>
		</tr>
		<tr>
			<td>Address</td>
			<td>:</td>
			<td><%=T_ADDRESS%></td>
		</tr>
		<tr>
			<td>Mobile Number</td>
			<td>:</td>
			<td><%=T_MOBILE%></td>
		</tr>
	</table>

</body>
</html>