<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>	
	<link rel="icon" type="image/png" href="/assets/login/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/animate/animate.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/css-hamburgers/hamburgers.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/select2/select2.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/css/main.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}
		
		li {
		  float: left;
		  
		}
		
		li:last-child {
		  border-right: none;
		}
		
		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		
		li a:hover:not(.active) {
		  background-color: #111;
		}
		
		.active {
		  background-color: #4CAF50;
		}
	</style>
</head>

<body>
	<ul>
		<li><a href="/teacher">Home</a></li>
		<li style="float:right"><a href="../logout">Log Out</a></li>
		<li style="float:right"><a href="/teacher/support">Support</a></li>
		<li style="float:right"><a href="/teacher/account">Account</a></li>
		<li style="float:right"><a class="active" href="/teacher/profile">Profile</a></li>
		<li style="float:right"><a href="/teacher/exam">Exam</a></li>
	</ul>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<table align="center" border="0" width="100%" >
							<tr>
								<td >User Name</td>
								<td width="2%">:</td>
								<td><%=T_ID%></td>
								<td rowspan="5">
									<img align="right" src="<%=T_IMAGE%>" alt="person" height="200px" width="200px"/>
								</td>
							</tr>
							<tr>
								<td>Name</td>
								<td>:</td>
								<td><%=T_NAME%></td>
							</tr>
							<tr>
								<td>Email</td>
								<td>:</td>
								<td><%=T_EMAIL%></td>
							</tr>
							<tr>
								<td>Address</td>
								<td>:</td>
								<td><%=T_ADDRESS%></td>
							</tr>
							<tr>
								<td>Mobile Number</td>
								<td>:</td>
								<td><%=T_MOBILE%></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>
									<form method="POST">
										<input class="login100-form-btn" type="submit" value="Edit Profile"/>
									</form>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
										<div height="200px" width="100%"></div>
								</td>
								<td></td>
							</tr>
						</table>
			</div>
		</div>
	</div>
	
	<script src="/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/assets/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/login/vendor/select2/select2.min.js"></script>
	<script src="/assets/login/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})

		function editProfile(){
			return res.redirect('/profile/edit');
		}
	</script>
	<script src="/assets/login/js/main.js"></script>

</body>
</html>