<!DOCTYPE html>
<html lang="en">
<head>
	<title>Exam Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>	
	<link rel="icon" type="image/png" href="/assets/login/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/animate/animate.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/css-hamburgers/hamburgers.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/select2/select2.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/login/css/main.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}
		
		li {
		  float: left;
		  
		}
		
		li:last-child {
		  border-right: none;
		}
		
		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		
		li a:hover:not(.active) {
		  background-color: #111;
		}
		
		.active {
		  background-color: #4CAF50;
		}
	</style>
</head>

<body>
	<ul>
		<li><a href="/teacher">Home</a></li>
		<li style="float:right"><a href="../../../../logout">Log Out</a></li>
		<li style="float:right"><a href="/teacher/support">Support</a></li>
		<li style="float:right"><a href="/teacher/account">Account</a></li>
		<li style="float:right"><a href="/teacher/profile">Profile</a></li>
		<li style="float:right"><a class="active" href="/teacher/exam">Exam</a></li>
	</ul>

	<div class="limiter">
            <div class="container-login100">
                    <span class="login100-form-title">
                            <h1><%=E_TITLE%></h1>
                    </span>
                    <span class="login100-form-title">
                        <table border="0px">
                            <tr>
                                <td>Date</td>
                                <td>:</td>
                                <td><%=E_DATE%></td>
                            </tr>
                            <tr>
                                <td>Start Time</td>
                                <td>:</td>
                                <td><%=E_START_TIME%></td>
                            </tr>
                            <tr>
                                <td>End Time</td>
                                <td>:</td>
                                <td><%=E_END_TIME%></td>
                            </tr>
                        </table>
										</span>

												<form class="login100-form validate-form" method="POST">
														<div class="container-login100-form-btn" align="center">
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/addStudent">Add Student</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/studentList">Student List</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/setQuestion">Set Question</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/questions">All Questions</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/addNotice">Add Notice</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/notices">All Notices</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/forum">Forum</a>
																</div>
																<div class="container-login100-form-btn">
																		<a class="login100-form-btn" href="/teacher/exam/myExams/view/<%=E_ID%>/rank">Rank</a>
																</div>
														</div>
												</form>

            </div>
        </div>
	
	<script src="/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/assets/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/login/vendor/select2/select2.min.js"></script>
	<script src="/assets/login/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="/assets/login/js/main.js"></script>

</body>
</html>