<!DOCTYPE html>
<html>
<head><title>Profile|Student|Online Exam Portal</title>

<script type="text/javascript" src="/assets/student/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/student/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/student/main.css">
<link rel="stylesheet" type="text/css" href="/assets/student/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/student/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/student/dropdown.css">

</head>
<body>

<ul>
    <li><a href="/student">Home</a></li>
    <li style="float:right"><a href="/logout">Log Out</a></li>
    <li style="float:right"><a href="/student/profile">Profile</a></li>
    <img src="<%=S_IMAGE%>" style="border-radius: 50%;width:50px;height:50px;float:right">
</ul>


<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
<form name="studentSupport" method="POST" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-4">
</div>
    <div class="col-md-6">
        <div class="profile-head">
            <h5>
                <%=S_NAME%>
            </h5>
            <h6>
                STUDENT
            </h6>          
        </div>
    </div>
</div>


<div class="row">
<div class="col-md-4">
    <div class="profile-img">
        <img src="<%=S_IMAGE%>" alt="image" title="myPicture" />
    </div>
</div>
<div class="col-md-3">
        <br><br><br>
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p><%=S_ID%></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                            <p><input type="text" name="studentName" value="<%=S_NAME%>"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                            <p><input type="text" name="studentEmail" value="<%=S_EMAIL%>"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                            <p><input type="date" name="studentDOB" value="<%=S_DOB%>"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                            <p><input type="text" name="studentAddress" value="<%=S_ADDRESS%>"></p>
                            </div>
                            </div>
                            <br><br>
                            <input type="submit" class="login100-form-btn" name="update" value="Update"/>
            </div>
        </div>
    </div>


</div>
<div class="row">
<div class="col-md-4">
    <div class="profile-work">
        <p>Setting</p>
        <a href="/student/editProfile">Edit Profile</a><br/>
        <a href="/student/editPicture">Edit Picture</a><br/>
        <a href="/student/changePassword">Change Password</a><br/>
        <!-- <p>Extra</p>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/> -->
    </div>
</div>

</div>
</form>           
</div>



</body>
</html>
